@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

body, html{
    margin: 0;
    font-family: "Love Ya Like A Sister", sans-serif;
    scroll-behavior: smooth;
}

#header{
    background: rgba(0, 0, 0, 0.9);
    padding: 25px;
    position: fixed;
    width: 100%;
}

.container{
    width: 90%;
}

#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.mainNav ul li{
    float: left;
}

.mainNav ul li a{
    text-decoration: none;
    color: #ece6ce;
    padding: 20px;
}

.fblink{
    width: 20%;
    height: auto;
    vertical-align: middle;
}

.instalink{
    width: 27%;
    height: auto;
    vertical-align: middle;
}

img[alt]{
    width: 20%;
    height: auto;
}
.banner{
    background-color: #ece6ce;
}

.banner img{
    width: 100%;
    height: auto;
}

.menu-section,.about-section,.order-section,.cater-section,.contact-section{
    background-color: #ece6ce;
    padding-top: 14%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
}